<h2 mat-dialog-title>Ajout d'un utilisateur</h2>
<mat-dialog-content>
    <p>Informations de l'utilisateur</p>
    <div style="display: flex; flex-direction: column; gap: 16px">
        <mat-form-field>
            <mat-label>Prénom</mat-label>
            <input
                id="firstName"
                matInput
                [(ngModel)]="firstName"
                name="firstName"
                #firstNameInput="ngModel"
                required
                maxlength="150"
                pattern="^[a-zA-Z\s'-]+$"
            />
            <mat-error
                *ngIf="
                    firstNameInput.invalid &&
                    (firstNameInput.dirty || firstNameInput.touched)
                "
            >
                <span
                    id="firstNameRequired"
                    *ngIf="firstNameInput.errors?.['required']"
                    >Le prénom est requis.</span
                >
                <span
                    id="firstNameMax"
                    *ngIf="firstNameInput.errors?.['maxlength']"
                    >Le prénom ne doit pas dépasser 150 caractères.</span
                >
                <span
                    id="firstNameChars"
                    *ngIf="firstNameInput.errors?.['pattern']"
                    >Le prénom contient des caractères non autorisés.</span
                >
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nom de famille</mat-label>
            <input
                id="lastName"
                matInput
                [(ngModel)]="lastName"
                name="lastName"
                #lastNameInput="ngModel"
                required
                maxlength="150"
                pattern="^[a-zA-Z\s'-]+$"
            />
            <mat-error
                *ngIf="
                    lastNameInput.invalid &&
                    (lastNameInput.dirty || lastNameInput.touched)
                "
            >
                <span
                    id="lastNameRequired"
                    *ngIf="lastNameInput.errors?.['required']"
                    >Le nom de famille est requis.</span
                >
                <span
                    id="lastNameMax"
                    *ngIf="lastNameInput.errors?.['maxlength']"
                    >Le nom de famille ne doit pas dépasser 150
                    caractères.</span
                >
                <span
                    id="lastNameChars"
                    *ngIf="lastNameInput.errors?.['pattern']"
                    >Le nom de famille contient des caractères non
                    autorisés.</span
                >
            </mat-error>
        </mat-form-field>
    </div>
</mat-dialog-content>
<div style="display: flex; justify-content: flex-end">
    <mat-dialog-actions>
        <button id="cancel" mat-button (click)="onNoClick()">Quitter</button>
        <button
            id="adder"
            mat-button
            (click)="onAdd()"
            [disabled]="!isFormValid()"
            cdkFocusInitial
        >
            Créer
        </button>
    </mat-dialog-actions>
</div>
