mat-dialog-actions .mdc-button {
    background-color: transparent; /* Couleur par défaut pour le bouton */
    color: inherit; /* Pour hériter de la couleur de texte courante */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transition pour un effet fluide */
}

mat-dialog-actions .mdc-button:hover {
    background-color: #3f2b56; /* Couleur de fond au survol */
    color: #fff; /* Couleur du texte au survol */
}
