<main>
    <div class="logo-container">
        <img src="assets/public/logo-mdhc-mixed.svg" alt="myDiabby" />
    </div>
    <div class="adder-container">
        <p id="adder-text">Ajouter un utilisateur</p>
        <a [routerLink]="['add']">
            <div style="text-align: center">
                <button
                    id="adder-button"
                    mat-icon-button
                    aria-label="Button that displays a tooltip when focused or hovered over"
                    matTooltip="Add new user"
                >
                    <mat-icon
                        id="plus-icon"
                        aria-hidden="false"
                        aria-label="Icon of plus"
                        fontIcon="add"
                    ></mat-icon>
                </button>
            </div>
        </a>
    </div>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="No">
                <th mat-header-cell *matHeaderCellDef>No</th>
                <td mat-cell *matCellDef="let user; let i = index">
                    {{ i + 1 }}
                </td>
            </ng-container>

            <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let user">{{ user.id }}</td>
            </ng-container>

            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef>Nom</th>
                <td mat-cell *matCellDef="let user">{{ user.lastName }}</td>
            </ng-container>

            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef>Prénom</th>
                <td mat-cell *matCellDef="let user">{{ user.firstName }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let user">
                    <a [routerLink]="['edit', user.id]"
                        ><span title="Modifier l'utilisateur">🖊️</span></a
                    >
                    <a (click)="deleteUser(user.id)" class="trash"
                        ><span title="Supprimer l'utilisateur">🗑️</span></a
                    >
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
            aria-label="Selection page d'utilisateurs"
        >
        </mat-paginator>
    </div>
</main>
<router-outlet></router-outlet>
