<main>
    <div
        class="logo-container"
        style="
            padding: 0.75em 0;
            background: #3f2b56;
            display: block;
            text-align: center;
            max-width: 550px;
        "
    >
        <!-- <img src="assets/public/logo_myd.png" alt="Logo MyDiabby" /> -->
        <img src="assets/public/logo-mdhc-mixed.svg" alt="myDiabby" />
    </div>
    <div>
        <p style="color: #6639a6">Add User</p>
        <a [routerLink]="['add']"
            ><button
                mat-icon-button
                aria-label="Button that displays a tooltip when focused or hovered over"
                matTooltip="Add new user"
                style="background-color: #6639a6"
            >
                <mat-icon
                    aria-hidden="false"
                    aria-label="Icon of plus"
                    fontIcon="add"
                    style="color: #ffff"
                ></mat-icon>
            </button>
        </a>
    </div>

    <div class="mat-elevation-z8" style="max-width: 550px">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="No">
                <th mat-header-cell *matHeaderCellDef>No</th>
                <td mat-cell *matCellDef="let user; let i = index">
                    {{ i + 1 }}
                </td>
            </ng-container>

            <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let user">{{ user.id }}</td>
            </ng-container>

            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef>lastName</th>
                <td mat-cell *matCellDef="let user">{{ user.lastName }}</td>
            </ng-container>

            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef>firstName</th>
                <td mat-cell *matCellDef="let user">{{ user.firstName }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>actions</th>
                <td mat-cell *matCellDef="let user">
                    <a [routerLink]="['edit', user.id]">🖊️</a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
            aria-label="Select page of users"
        >
        </mat-paginator>
    </div>
</main>
<router-outlet></router-outlet>
